@charset "UTF-8";

/* html 是根元素
   rem（font size of the root element）是相对于 html 元素的字体大小单位
   在不指定时多数浏览器的默认值为 16px
*/
html {font-size: 14px;}

html, body {
	/* 在右侧内容高度很小时，保持 footer 在底部不能使用 min-height */
	height: 100%;
	
	/* Verdana 与 Tahoma 相似，但字符间距大，适合显示金额 */
	/* font-family: "Helvetica Neue", Helvetica, Tahoma, Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif; */
	font-family: "Helvetica Neue", Helvetica, Tahoma, Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
	font-size: 14px;
}

.container {
	/* 常见的设备网页宽度为：1920px 1600px 1440px 1280px 1140px 960px 768px 640px 320px */
	/* min-width: 1140px; */
}


/* 覆盖 bootstrap a 标签样式，当 a 标签没有 href 时样式会有所变化 */
/* bootstrap 文件选择按钮由 'Browser' 改为 '浏览' */
.custom-file-label::after {
	content: "浏览";
}
a, a:hover {
	/* 如果 a 标签没有 href，hover 事件不会出现手掌图标，需要强行指定 */
	cursor: pointer;
	text-decoration: none;
}
/* a:not([href]), a:not([href]):hover {
	color: #fff;
} */

/* 添加 bootstrap 3 中的 btn-default 样式 */
.btn-default {
    color: #555;
    background-color: #fff;
    border-color: #ccc
}
.btn-default.focus,.btn-default:focus {
    color: #333;
    background-color: #e6e6e6;
    border-color: #8c8c8c
}
.btn-default:hover {
    color: #fff;
    background-color: #10952a;
    border-color: #398439
}
.btn-default.active,.btn-default:active,.open>.dropdown-toggle.btn-default {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad
}
.btn-default.active.focus,.btn-default.active:focus,.btn-default.active:hover,.btn-default:active.focus,.btn-default:active:focus,.btn-default:active:hover,.open>.dropdown-toggle.btn-default.focus,.open>.dropdown-toggle.btn-default:focus,.open>.dropdown-toggle.btn-default:hover {
    color: #fff;
    background-color: #d4d4d4;
    border-color: #8c8c8c
}
.btn-default.active,.btn-default:active,.open>.dropdown-toggle.btn-default {
    background-image: none
}
.btn-default.disabled,.btn-default.disabled.active,.btn-default.disabled.focus,.btn-default.disabled:active,.btn-default.disabled:focus,.btn-default.disabled:hover,.btn-default[disabled],.btn-default[disabled].active,.btn-default[disabled].focus,.btn-default[disabled]:active,.btn-default[disabled]:focus,.btn-default[disabled]:hover,fieldset[disabled] .btn-default,fieldset[disabled] .btn-default.active,fieldset[disabled] .btn-default.focus,fieldset[disabled] .btn-default:active,fieldset[disabled] .btn-default:focus,fieldset[disabled] .btn-default:hover {
    background-color: #fff;
    border-color: #ccc
}
.btn-default .badge {
    color: #fff;
    background-color: #333
}

/* Responsive images */
img {
	max-width: 100%;
	border: 0
}

/* 重定义页面基础元素间距 */
div, ul, li, p, a,
h1, h2, h3, h4, h5, h6,
section, fieldset, legend, label {
	padding: 0px;
	margin: 0px;
}
ul, ol {
	padding-left: 0;
	list-style-type: none;
}

pre {
	font-family: Consolas, Monaco, "Courier New", "Microsoft YaHei", monospace;
}

.bgf2 {
	background-color: #F2F2F2;
}
.bgw {
	background-color: white;
}
.px10 {
	padding-left: 10px;
	padding-right: 10px;
}
.c4 {
	color: #444;
}


::-webkit-scrollbar {
	/*滚动条整体样式*/
	width : 10px;  /*高宽分别对应横竖滚动条的尺寸*/
	height: 1px;
}
::-webkit-scrollbar-thumb {
	/*滚动条里面小方块*/
	border-radius: 10px;
	box-shadow   : inset 0 0 5px rgba(0, 0, 0, 0.2);
	background   : #999;
}
::-webkit-scrollbar-track {
	/*滚动条里面轨道*/
	box-shadow   : inset 0 0 5px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
	background   : #ededed;
}

/* 公共样式 */
/* 主色 */
.mc, .main-color {color: #20a53a;}
/* .mbc {border-color: #20a53a;} */
/* .mbgc {background-color: #20a53a;} */
.bc-f2 {background-color: #F2F2F2!important;}


/* root-box 为根容器，left-box、right-box、footer 为其内部并列容器 */
.root-box {
	/* 在右侧内容高度超出屏幕时，保持 footer 保持在底部，不能使用 height */
	min-height: 99.9%;/* 99.9% 避免 root-box 超出 html 高度在 ckeditor 页面出现滚动条 */
	position: relative;
	padding: 0;
	
	/* bootstrap container-fluid 部分样式 */
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	
	/* 灰色 #F0F0F0 #F2F2F2 #EEEEEE #E2E2E2 #DDDDDD #D2D2D2 #C2C2C2 */
	background-color: #F2F2F2;
}
.left-box {
    width: 180px;
    z-index: 100;
    height: 100%;
    position: fixed;
    overflow: hidden;
}
.right-box {
	/* 避免与 left-box 重叠 */
	/* margin-left: 180px; */
	padding-left: 180px;
	/* 避免与 footer 重叠，只能使用 padding-bottom，否则 footer 高度会增加 */
	/* margin-bottom: 66px; */
	padding-bottom: 66px;
	/* 避免 header 的 margin-top 值破坏顶部样式 */
	padding-top: 1px;
	min-height: 285px;
}
.footer-box {
	position: absolute;
	bottom: 0;
	text-align: center;
	width: 100%;
	line-height: 50px;
	background-color: white;
	font-size: 14px;
}
.footer-box a {
	font-family: Tahoma, Arial, "Helvetica Neue", Helvetica, sans-serif;
	color:#20a53a;
}

/* 左部滚动容器 */
.left-scroll-box {
	/* 结合父容器的 overflow: hidden 隐藏滚动条 */
	margin-right: -10px;
	height: 100%;
	overflow-y: scroll;
	background-color: #3c444d;
}

.left-logo-box {
	height: 50px;
	
	/* logo 背景渐变 */
	transition-duration: 500ms;
	transition-property: background;
	transition-timing-function: ease;
}
.left-logo-box:hover {
	background: #20a53a;
	opacity: 1
}
.left-logo-box a {
	display: block;
	line-height: 50px;
	font-size: 18px;
	font-family: Tahoma, Arial, "Helvetica Neue", Helvetica, sans-serif;
	letter-spacing: 1px;
	color: white;
	padding-left: 32px;
}

.left-menu-box {
	background-color: #353d44;
	margin-top: 1px;
}
.left-menu {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}
.left-menu li {
	margin-bottom: 1px;
	position: relative;
}
.left-menu li a {
	display: block;
	
	font-size: 15px;
	color: #d6d7d9!important;
	line-height: 44px;
	width: 180px;
	padding-left: 30px;
	
	/* 左侧竖条要与菜单背景色一致 */
	/* border-left: #404040 3px solid; */
	border-left: #353d44 3px solid;
	
	letter-spacing: 1px;
}
.left-menu li a.active,
.left-menu li a:hover {
	background-color: #2c3138;
	color: #fff;
	border-left: #20a53a 3px solid;
}
.left-menu li i {
	display: inline-block;
	margin-right: 12px;
	font-size: 15px;
}
/* 左侧菜单 "功能" 菜单的图标添加一个 active 与 hover 动画 */
ul.left-menu li a.active i.fa-cog,
ul.left-menu li a:hover i.fa-cog {
	-webkit-animation: fa-spin 2s infinite linear;
	animation: fa-spin 2s infinite linear;
}


/* 重定义 layer 样式，加上 body 是为了保证优先级 */
body .layui-layer-dialog {
	min-width: 350px;
}
body .layui-layer-dialog.layui-layer-msg {
	/* 覆盖 layui-layer-dialog 中 min-width，否则 msg 弹窗过宽 */
	min-width: 180px;
}
body .layui-layer-btn a {
	border-radius: 3px;
	font-size: 14px;
}
body .layui-layer-btn a.layui-layer-btn0 {
	background-color: #20a53a;
}
body .layui-layer-btn a.layui-layer-btn0:hover {
	color: #fff;
}


/* 右侧头部容器 */
.header-box {
	display: -ms-flexbox;
	/* flex 布局：http://www.ruanyifeng.com/blog/2015/07/flex-grammar.html */
	display: flex;
	/* 主轴方向，即 item 的排列方向：row、row-reverse、column、column-reverse; */
	flex-direction: row;
	/* item 换行规则：nowrap、wrap、wrap-reverse */
	flex-wrap: nowrap;
	/* 多根轴线的对齐方式。如果 item 只有一根轴线，该属性不起作用：flex-start、flex-end、center、space-between、space-around、stretch */
	/* align-content: stretch; */
	
	/* item 在主轴上的对齐方式：flex-start、flex-end、center、space-between、space-around */
	/* 如果是左右结构，左右侧 item 分别配置为 flex: 1 1 auto, flex: 0 1 auto 可代替该配置 */
	/* justify-content: space-between; */
	
	/* item 在交叉轴上的对齐方式：flex-start、flex-end、center、baseline、stretch */
	align-items: center;
	
	height: 50px;
	/* 使用 align-items: center; 样式取代 */
	/* line-height: 50px; */
	
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);
    margin: 14px 0 15px 0;
    padding: 0 20px;
    background-color: white;
}
/* flex 用于配置 item 的三个属性：flex-grow、flex-shrink、flex-basis */
.header-box .crumb {flex: 1 1 auto;}
.header-box .search {flex: 0 1 auto;}

.crumb i {
	font-size: 16px;
	margin-top: 2px;
	vertical-align: text-bottom;
}
.crumb a,
.crumb span {
	color: #444;
}
.crumb a {margin-right: 6px;}
.crumb span {margin-left: 6px;}
.search input[type=text] {
    float: left;
    border: #20a53a 1px solid;
	height: 30px;
	width: 250px;
	padding: 0 8px;
	font-size: 12px;
	line-height: 12px;
	color: #333;
}
.search input[type=submit] {
	float: left;
	width: 38px;
	height: 30px;
	border: 0;
	background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAAxAAAAMQBz4pYTAAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNui8sowAAAE2SURBVDiNndJBS1VRFMXx9UzNQUQD0caFk6YhEUFCOPETiJQfIygQbNQgCCeOGjYLGjRJkPoKoSGIRKADs1nQoEIEfw3cry6v+3oPN2z2ufuu8z/7nruC9ORNvMRXHOIFbrTogjQfOniKX87iR2P9HSv/A1zA+xK/wRwmMYV5vKt3r/sBnpTgcb9R8aw0D3sB1/GzTum3uZsfSnupCVgr8vwQgKXSLnR7I0nuJJFkN4PjY9WZbmMkyXGtx4YAjFY9aQI2knSS3B4CMFd1508HV3CE3QHfP17G2sdo7298UJfzChMtmy9jszTLbT4InpfgCx6Vme5hFd/8jW1cbQME93Hg39jDYmOKT5hGOmi7rNkk15KcJvmcZKv6E0k2k9xNsp1keZBx2vIi3tYkG+cBxJmV13HrN6Szg7ZCfX3NAAAAAElFTkSuQmCC") no-repeat center #20a53a;
	cursor: pointer;
}

/** 主体内容部分 **/
/* 覆盖 bootstrap 样式 */
.btn-sm {
	padding: 5px 10px;
}
.main {
	position: relative;
	background-color: white;
	padding: 15px;
	margin: 15px 0;
}
.toolbar {
	text-align: right;
	margin: 10px 5px;
}
.table-box {
	position: relative;
	margin-top: 15px;
	margin-bottom: 25px;
}
.table-box .table {
	border: 1px solid #ddd;
	color: #666;
	/* font-size: 12px; */
	margin-bottom: 0;
}
.table-box th.operation {
	text-align: right;
}
.table-box td.operation {
	text-align: right;
	color: #20a53a;
}
.table-box .table thead th {
	vertical-align: inherit;
	background-color: #f6f6f6;
	border-bottom: 1px solid #e6e6e6;
	color: #666;
	font-weight: normal;
	padding: 8px;
}
.table-hover tbody tr:hover {
	background-color: #f5f5f5;
}

.table-box th {
	color: #666;
}
.table-box td {
	color: #666;
}
.table-box td.operation a {
	color: #20a53a;
}
.table-box td a {
	color: #666;
}
/* 分页 */
.pagination a {
	font-family: "Arial";
	color: #666;
}
.page-item.active .page-link {
	color: #fff;
	background-color: #20a53a;
	border-color: #20a53a;
}


/* blog 添加、修改界面 */
.form-box {
	padding: 1rem 2rem 0rem 2rem;
}
/* ckeditor 工具栏的最大化按钮放置在最右侧 */
.form-group {
	position: relative;
}
/* ckeditor 的最大化按钮放在最右侧 */
.cke .cke_toolbox .cke_button.cke_button__maximize {
	position: absolute;
	right: 10px;
}
/* bootstrap 的 switch 开关选中状态改变背景色 */
.custom-control-input:checked~.custom-control-label::before {
	color: #fff;
	border-color: #20a53a;
	background-color: #20a53a;
}
.custom-control-label:hover {
	cursor: pointer;
}


/* image 管理 */
.image-box {
	display: -ms-flexbox;
	/* flex 布局：http://www.ruanyifeng.com/blog/2015/07/flex-grammar.html */
	display: flex;
	/* 主轴方向，即 item 的排列方向：row、row-reverse、column、column-reverse; */
	flex-direction: row;
	/* item 换行规则：nowrap、wrap、wrap-reverse */
	flex-wrap: wrap;
	/* 多根轴线的对齐方式。如果 item 只有一根轴线，该属性不起作用：flex-start、flex-end、center、space-between、space-around、stretch */
	/* align-content: stretch; */
	
	/* item 在主轴上的对齐方式：flex-start、flex-end、center、space-between、space-around */
	/* 如果是左右结构，左右侧 item 分别配置为 flex: 1 1 auto, flex: 0 1 auto 可代替该配置 */
	/* justify-content: space-center; */
	
	/* item 在交叉轴上的对齐方式：flex-start、flex-end、center、baseline、stretch */
	align-items: center;
}
.image-item {
	flex: 0 0 auto;
	/* width: 50%; */
	width: 300px;
	margin: 5px 10px 12px 10px;
	/* border: 1px solid #fff; */
	border-radius: 3px;
}
.image-item:hover {
	/* border: 1px solid #EEE; */
}
.image-item img {
	width: 200px;
	max-height: 350px;
	cursor: pointer;
}
.image-footer {
	margin-top: 5px;
	font-size: 16px;
	text-align: left;
    visibility: visible;
}
.image-footer i {
	margin-right: 10px;
	cursor: pointer;
}
.image-item:hover .image-footer {
	visibility: visible;
}

/* 与头部并列的提示信息 */
#content-box div.tips-row {
	font-size: 13px;
	color:red;
	background-color: #fef3e2;
    line-height: 46px;
    margin-bottom: 15px;
    padding-left: 10px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
}
/* main 内部提示信息 */
.main div.tips {
	font-size: 13px;
	color: #333;
	background-color: #fbfbfb;
    border: 1px solid #eee;
    line-height: 46px;
    margin-bottom: 20px;
    padding-left: 10px;
}



.panel {
	background-color: white;
	margin: 15px 0;
}
.panel-header {
	height: 50px;
	line-height: 50px;
	border-bottom: 1px solid #eee;
	
	padding: 0 15px;
	color: #666;
	font-size: 16px;
}
.panel-body {
	padding: 20px 0 0 0;
	
	display: -ms-flexbox;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	/* justify-content: space-between; */
	align-items: center;
}

/* 首页 */
.home-main {
	margin: 15px 0;
}
.home-main .panel-body div {
	flex: 0 0 200px;
	margin: 0 0 20px 20px;
	height: 100px;
	
	background-color: #f9f9f9;
	border: #f0f0f0 1px solid;
	
	text-align: center;
}
.home-main .panel-body div span {
	display: block;
	line-height: 40px;
	margin-top: 8px;
	color: #999;
	font-size: 16px;
}
.home-main .panel-body div a {
	display: block;
	font-size: 26px;
	font-family: arial;
	color: #20a53a;
}





